@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Nav design */
nav ul li a{

     text-decoration: none;
     color: black;
     font-size: 20px;



}

nav ul li{
    list-style: none;
    
    margin-right: 50px;
}
nav ul{
    display: flex;
   gap: 1500px;
    align-items: center;
}

nav{
    display: flex;  
    align-items: center;
   
    justify-content:space-around;
    margin: 20px 50px;
}

.nav-head{
    font-size: 40px;
    width: 80px;

}

.nav-button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    font-style: bold;
}

/* For first section */
.first-section{
     
    width: 1440px auto;
    height: 1450px auto;
   
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
   
}

.set-group-img{
    margin-left: 47%;
    margin-top: 10%;

}

.head-part{
    font-size: 100px;
    margin-left: 35%;
   margin-bottom: 100px;
}

.paragraph-part{
    font-size: 30px;
    margin-left: 45%;
}

.button-part-div{
   
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
    margin-left: 30%;
   

}
.button-part-design{
    background-color:black;
    color: white;
    
    margin-left: 48%;
    height: 60px;
    width: 200px;
    font-size: 20px;
} 

/* DEsign for page 2 or Section two */

.Section-two{
    width: 1140px auto;
   background-color: aqua;
   height: 11140px auto;
   
}

.part1-page2{
    display: flex;
   margin-left: 20%;
   margin-right: 20%;
    border: 2px;
    height: 800px;
    width: 800px auto;
   background-color:white;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 30px;
    border: 0 solid;
   
}
.paragraph-part-page2{
    font-size: 30px;
    margin-left: 25%;

}

.part1-page2{
    font-size: 40px;
}
.img1{
    height: 800px;
}
.button-part1{
    height: 80px;
    width: 200px;
    margin-top: 36%;
    font-size: 30px;
   
}
.layout-change{
    margin-left: 10px;
}

/*  My inspiration  part        */

.paragraph-part-page3{
    font-size: 40px;
    margin-left: 25%;
}

.sec3{
    height: 600px auto;
    width: 600px auto;
}

.add-video{
    
    
    margin-left:20% ;
}











 
