@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Nav design */
nav ul li a{

     text-decoration: none;
     color: black;
     font-size: 20px;



}

nav ul li{
    list-style: none;
    
    margin-right: 50px;
}
nav ul{
    display: flex;
   gap: 1500px;
    align-items: center;
}

nav{
    display: flex;  
    align-items: center;
   
    justify-content:space-around;
    margin: 20px 50px;
}

.nav-head{
    font-size: 40px;
    width: 80px;

}

.nav-button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    font-style: bold;
}

/* For first section */
.first-section{
     
    width: 1440px auto;
    height: 1450px auto;
   
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
   
}

.set-group-img{
    margin-left: 47%;
    margin-top: 10%;

}

.head-part{
    font-size: 100px;
    margin-left: 35%;
   margin-bottom: 100px;
}

.paragraph-part{
    font-size: 30px;
    margin-left: 45%;
}

.button-part-div{
   
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
    margin-left: 30%;
   

}
.button-part-design{
    background-color:black;
    color: white;
    
    margin-left: 48%;
    height: 60px;
    width: 200px;
    font-size: 20px;
} 

/* DEsign for page 2 or Section two */

.Section-two{
    width: 1140px auto;
   
   height: 11140px auto;
   
}

.part1-page2{
    display: flex;
   margin-left: 20%;
   margin-right: 20%;
    border: 2px;
    height: 800px;
    width: 800px auto;
   background-color:white;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 30px;
    border: 0 solid;
   
}
.paragraph-part-page2{
    font-size: 30px;
    margin-left: 25%;

}

.part1-page2{
    font-size: 40px;
}
.img1{
    height: 800px;
}
.button-part1{
    height: 80px;
    width: 200px;
    margin-top: 36%;
    font-size: 30px;
   
}
.layout-change{
    margin-left: 10px;
}

/*  My inspiration  part        */

.th{
    border-radius: 30px;
    margin-left: 15%;

}
.head-part-three{
    font-size: 100px;
    margin-left: 45%;
   margin-bottom: 100px;
}

.paragraph-part-page3{
    font-size: 40px;
    margin-left: 35%;
}

.sec3{
    height: 600px auto;
    width: 600px auto;
}

.add-video{
    
    
    margin-left:20% ;
}


/*My Current Target Part by CSS  */

.section-four{
    width: 1120px auto;
    height: 2220px;
    /* background-color: antiquewhite; */
}

.title-four{
    margin-top: 10%;
    height: 600px;
    width: 1600px;
    margin-left: 40%;
    
}

.head-four{
    font-size: 90px;
    margin-left: 20%;
}
.p-four{
    font-size: 50px;
}

.design-four{
    display: flex;
    margin-left: 30%;
    margin-top: 3%;
    gap: 40px;
    
}

.d-three{
    height: 1000px;
    width: 1000px;
    background-color: bisque;
}

.im1{
    height: 300px;
   margin-top: 2%;
}
.h1{
    font-size: 100px;
    margin: 3%;
}
.p1{
    color: black;
    font-size: 80px;
    margin-left: 4%;
}
.s1{
   font-size: 80px;
   margin-left:4% ;
}

.color1{
    background-color:beige;
}
.color2{
    background: rgba(0, 76, 232, 0.05);
    
}

.color3{
    background-color: beige;
}


/* Design page 5555555555555 */

.page-five{
    height: 1100px auto;
    width: 920px auto;
    margin-top: 2%;

    /* background-color: antiquewhite; */

}
.head-five{
    margin-left: 50%;
}
.p5{
    font-size: 40px;
    margin-left: 30%;
}

.five-box{
    border: 1px solid;
    height: 800px;
    margin: 1%;
    border-radius: 60px;
    display: flex;
}

.img2{
    height: 200px;
    margin-top: 90%;
    margin-left: 28%;
}

.div-two{
    margin-left: 10%;
}

/* last-section */

.last-sec{
    width: 1120px auto;
    height: 1120px;
   
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-size: 80%;
    margin: 2% auto;
    background-repeat: no-repeat;
    /* background: inherit; */
    
}
.head-set{
    font-size: 150px;
    color:white ;
    margin-left: 45%;
    padding-top: 280px;
    padding: auto;
    text-shadow: 2px 2px 4px rgb(231, 226, 226, 3);
}
.l-p{
    margin-left: 43%;
    font-size: 50px;

    
}




 .marge-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 20px; 
}

.last-div, .s-btn {
    display: inline-block; 
}

.in-set {
    padding: 10px;
    width: 400px auto;
   height:63px ;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px; 
}

.sub {
    padding: 10px 20px;
    /* font-size: 1em; */
    /* height: 80px;
    width: 170px; */
    height: 80px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
    outline: none;
    font-size: 30px;
}
/* .last-div{
    width: 200px;
} */

.sub:hover {
    background-color: #f0f0f0;
}


/* footer part */


ul li{
    display: inline;

    gap: 400px;
}
ul li a{
    text-decoration: none;
color: black;
font-size: 20px;

}

div ul li{
    list-style: none;
    
    margin-right: 50px;
}

footer{
    display: flex;  
    align-items: center;
   
    justify-content:space-around;
    margin: 20px 50px;
}
.add{
    margin-left: 20%;
    font-size: 30px;
    width: 300px;
}

footer div li{
    list-style: none;
    
    margin-right: 50px;
}

.ft{
    height: 100px;
    width: 1120px auto;
}

html {
    scroll-behavior: smooth;
}


.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: relative;
}


.scrollButton:hover {
    background-color: #0056b3;
}



















 
